<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/script/loginScript.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../public/style/loginStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Montserrat:wght@100&display=swap" rel="stylesheet"> 
    <title>Login</title>
</head>

<body>
    <header>
    </header>
    <main>
    <div id="login" class="wrapUp" >
        <form class="inputField" action="/login" method="POST"  >
            <h2 style="text-align: center;">LOGIN!</h2>
            <input id="email" name="email" type="text" class="validate" placeholder="Email" >
            <input id="password" name="password" type="password" class="validate" placeholder="Password">
            <button class="btn" id="submit">SUBMIT</button>
            <p id="erroMessag"></p>  
        </form>
        <div class="links">
            <a class="signUp" href="/frontend/views/signUp.html">SIGN UP!</a>
            <a class="b" href="#">FORGOT PASSWORD?</a>
        </div>  
    </div>
    </main>
    <footer>
        <div  >MarcosProduction <img src="" alt="">   </div>
    </footer>
</body>

</html>