<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/userStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Montserrat:wght@100&display=swap" rel="stylesheet"> 
    <script src="../public/script/userScript.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>MMS User</title>
</head>
<body>
<header>
    <h1> MEMORIZING MUSICAL SCALES </h1>
    <div class="avatar" >

    </div>
</header>
<main class="content" id="main">
    <div id="showContent">
        <form class="wrap" id="wrapForm">
            <select class="box" name="notes" id="boxNotes"  >
                <option class="butCont1" value="C">C "Do" </option>
                <option class="butCont2" value="D">D "Re" </option>
                <option class="butCont3" value="E">E "Mi" </option>
                <option class="butCont4" value="F">F "Fa" </option>
                <option class="butCont5" value="G">G "Sol"</option>
                <option class="butCont6" value="A">A "La" </option>
                <option class="butCont7" value="B">B "Si" </option>
            </select>
            <select class="box" name="majorMinor" id="majorMinor">
                <option value="minor">Minor</option>
                <option value="major">Major</option>
            </select>
            <select class="box" name="cordExte" id="cordExte">
                <option value="regular">Regular</option>
                <option value="#">#</option>
                <option value="b">b</option>
            </select>
            <button id="searchButton" class="buttDuble movesOn">Search</button>
        </form>
    </div>
    <form action="" id="formeDragDrop">
        <div class="viewContent mostar" >
            <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 100%; height:300px;" ></div>
        </div>
        <select id="selectProgress" class="box" name="notes" >
            <option disabled selected>Select an option here</option>    
        </section>
        <input type="text" Name="pregressName" id="pregressName">
        <button class="saveButt btn" >SAVE  </button>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 100%; height:300px;"></div>
                
        <div class="wrapBnt">
            <button class="editButt btn" >EDIT  </button>
            <button class="deletButt btn">DELETE</button>
        </div>
    </form>

    
</main>
<footer>
    <div class="brandLogo">MarcosProduction <img src="" alt=""> </div>
</footer>
</body>
</html>