body {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to left, rgba(247, 251, 251, 0), rgba(255, 170, 0, 0.313));
    background-color: #fbadfb87;
    background-size: cover;
    background-attachment: fixed;
}

.buttonLog{
    padding: 0 auto;
    border: 0 auto;
    float: right; 
    background-color: #fbadfb51;
}

h2{
    color: #f43711e3;
}

#login{    
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to left, rgba(247, 251, 251, 0), rgba(255, 170, 0, 0.313));
    background-color: #fbadfb87;
    padding: 10px 300px 50px 300px;
    border: 5px solid #f437119b;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    border-radius: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputField{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

#newLogin{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.validate{
    border: 2px solid rgba(255, 166, 0, 0.329);
    border-radius: 20px;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.a,.b{
    font-family: 'Raleway', sans-serif;
    color: #f43711e3;
    font-size: 15px;
}

#submit{
    color: #f43711e3;;
    font-family: 'Raleway', sans-serif;
    border: 2px solid #f43711e3;
    border-radius: 20px;
    background-color: white;
}
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    align-content: center;
}

footer {
    margin-top: auto;
    float: right;
    align-self: flex-end;
    color: #f43711;
    background-image: linear-gradient(to left, rgba(247, 251, 251, 0), rgba(0, 208, 255, 0.313));
    padding: 20px 20px;
}
